* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  min-width: 1024px;
  min-height: 780px;
  position: relative;
}
main {
  display: flex;
  height: 689px;
}

.dashboard {
  height: max-content;
  padding: 20px 50px;
  width: 93%;
}
h1 {
  display: flex;
  gap: 15px;
  margin: 10px 0;
  & P {
    color: red;
  }
}
.containerGraph {
  display: flex;
  justify-content: space-between;
}
.graphiques {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.activityGraph {
  position: relative;
  width: 100%;
  height: 320px;
}
.CardsNutriment {
  display: flex;
  flex-direction: column;
  width: 20%;
}
.littleGraph {
  display: flex;
  justify-content: space-between;
  height: 210px;
  margin-top: 30px;
  /* & p {
    position: absolute;
    width: 30%;
    color: white;
    opacity: 0.5;
  } */
}
.lineGraph,
.radar,
.score {
  width: 200px;
  height: 200px;
}
