.dashboard {
  background-color: red;
  height: max-content;
  padding: 40px;
}
.containerGraph {
  display: flex;
  justify-content: space-between;
}
.graphiques {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.CardsNutriment {
  display: flex;
  flex-direction: column;
  width: 20%;
}
.littleGraph {
  display: flex;
  justify-content: space-around;
}
