* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  min-width: 1024px;
  min-height: 780px;
  position: relative;
}
main {
  display: flex;
  height: 689px;
}

.dashboard {
  background-color: red;
  height: max-content;
  padding: 40px;
  width: 93%;
}
.containerGraph {
  display: flex;
  justify-content: space-between;
}
.graphiques {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.CardsNutriment {
  display: flex;
  flex-direction: column;
  width: 20%;
}
.littleGraph {
  display: flex;
  justify-content: space-around;
}
