.cardProfil ul {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 160px;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 540px;
  & .labelProfil {
    display: flex;
    font-size: 20px;
    font-weight: 700;
    width: 400px;
    list-style: none;
    padding: 5px;
  }
  & .infosProfil {
    display: flex;
    border: 2px solid black;
    height: 30px;
    align-items: center;
    justify-content: center;
    width: 50%;
    border-radius: 5px;
  }
}
